.content_container {
	width:100%:
	height:100%;
	padding:20px;
}

.home_left_container {
	float:left;
	width:25%;
	padding:0px;
	height:100%;
}

.home_right_container {
	float:left;
	width:70%;
	padding:0px;
	height:100%;
	margin-left:5%;
}

.home_img_container {
	width:100%;
	margin:auto;
	margin-bottom:15px;
	border:1px solid #a9a9a9;
	background-color:#fff;
	text-align:center;
}

.home_img {
	width:100%;
}

.home_options_container {
	width:100%;
	margin-top:20px;
	color:#a9a9a9;
	background-color:#fff;
}

.home_option {
	width:100%;
	padding:10px 10px 10px 20px;
	color:#a9a9a9;
	cursor:hand;
	cursor:pointer;
}

.home_option:hover {
	background-color:#f7f7f7;
	color:#000;
}

.home_option_selected {
	border-right:3px solid #16a085;
	color:#000;
}

.home_option_selected:hover {
	border-right:3px solid #16a085 !important;
	color:#000 !important;
}

.home_option_divider {
	width:90%;
	margin:auto;
	height:1px;
	background-color:#efefef;
}

.home_heading {
	margin:5px 0px 10px 0px;
}

.home_box {
	width:100%;
	padding:20px 30px 20px 30px;
	background-color:#fff;
}

.home_box_heading {
	width:100%;
	color:#000;
	font-size:.8em;
}

.home_box_input {
	width:97%;
	height:30px;
	line-height:30px;
	background-color:#fff;
	color:#000;
	font-size:.8em;
	border:1px solid #bdc3c7;
	padding-left:10px;
	border-radius:6px;
	margin-bottom:10px;
}

.home_right_content {
	display: none;
}

.home_medical_heading {
	margin: 0px 0px 5px 0px;
}

.select_course_header {
	width:100%;
	padding:5px 5px 5px 10px;
	margin-top:20px;
}

.select_course_mh {
	width:100%;
	background-color:#d2d6d9;
	color: #7f8c8d;
	font-size:.8em;
}

.select_course_mh_name {
	float:left;
	width:64%;
	padding:2px 10px 1px 10px;
}

.select_course_mh_duration {
	float:left;
	width:30%;
	padding:2px 10px 1px 0px;
}

.select_course_option {
	width:100%;
	margin:0px;
	font-size:.9em;
	background-color:#fff;
}

.select_course_name {
	float:left;
	width:64%;
	padding:5px 5px 5px 10px;
}

.select_course_duration {
	float:left;
	width:30%;
	padding:5px 5px 5px 10px;
}

.select_course_select {
	float: left;
	width: 6%;
	padding:5px 0px 5px 0px;
	text-align:center;
}

.selected_course {
	font-size:.8em;
}

.report-link-container {
	display: table;
	table-layout: fixed;
	width:100%;
	padding:10px 0px 10px 0px;
}

.report-link-title {
	display: table-cell;
	vertical-align:middle;
	width:62%;
	padding:0px 10px 0px 0px;
	font-size:12px;
	color:#34495e;
}

.report-link-button {
	display: table-cell;
	vertical-align:middle;
	width:38%;
	text-align: right;
}

.report-link {
	display:inline-block;
	width:100%;
	font-size:10px;
	padding:3px 10px 3px 10px;
	background-color:#2980b9;
	color:#ffffff;
	border-radius:3px;
	text-align: center;
	cursor: pointer;
}

.report-link:hover {
	background-color: #3498db;
}

.report-icon {
	font-size: 16px;
	width:16px;
	margin:0px 10px 0px 0px;
	color:#3498db;
}

.report-icon.fa-exclamation-triangle {
	font-size:14px !important;
	color:#e74c3c !important;
}

.report-icon.fa-file-excel {
	color: #27ae60 !important;
}































